<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <label><b>Table</b></label>
    <table class="table table-bordered">
        <tr>
            {% for col in column_names %}
            <th>{{col}}</th>
            {% endfor %}
        </tr>
        {% for row in row_data %}
        <tr>
            {% for col, row_ in zip(column_names, row) %} {% if col == link_column %}
            <td>
                <label value={{ row_ }} name="person_id">
                    {{ row_ }}
                </label>
            </td>
            {% else %}
            <td>{{row_}}</td>
            {% endif %} {% endfor %}
        </tr>
        {% endfor %}

    </table>
</body>

</html>